{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-0EY43J4EFW"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-0EY43J4EFW");
    </script>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta
      content="Portfolio of Avishka Kavinda Dampella Gamage"
      name="author"
    />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <!-- css and bootstrap-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'scss/main.css' %}" />
    <script src="https://kit.fontawesome.com/2ec2c46da6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'favicon/favicon.png' %}"
    />
    <link href="{% static 'favicon/favicon.png' %}" rel="icon" />

    <title>Portfolio | {% block title %}{% endblock %}</title>
  </head>
  <body class="position-relative">

    <nav class="container-fluid">
      <div class="position-relative">
        <div class="logo text-center position-relative">
          <a href="/" class="navLogo"
          ><img src="{% static 'images/Sign.png' %}" alt="" width="75" class="mt-1"
          /></a>

            <div class="socials position-absolute translate-middle-y top-50 start-0 ms-3">
              <a href="https://www.facebook.com/acekavi/" class="socialLinks"><i class="fa-brands fa-facebook-f fa-md m-1"></i></i></a>
              <a href="https://www.instagram.com/acekavi/" class="socialLinks"><i class="fa-brands fa-instagram fa-md m-1"></i></a>
              <a href="https://www.linkedin.com/in/acekavi" class="socialLinks"><i class="fa-brands fa-linkedin fa-md m-1"></i></a>
              <a href="https://www.behance.net/acekavi/" class="socialLinks"><i class="fa-brands fa-behance fa-md m-1"></i></i></a> 
            </div>

            <div class="IconContainer position-absolute translate-middle-y top-50 end-0 me-3">
              <div class="hambars"></div>
              <div class="hambars"></div>
              <div class="hambars"></div>
            </div>
        </div>

        <ul class="navLinks position-absolute end-0 text-end me-3" onclick="navToggle">
          <li><a href="/" class="customNavlinks">Home</a></li>
          <li><a href="/projects" class="customNavlinks">Projects</a></li>
          <li><a href="/designs" class="customNavlinks">Designs</a></li>
          <li><a href="/about" class="customNavlinks">Hire Me</a></li>
          <li><a href="/404" class="customNavlinks text-lowercase">404</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}
    
    <!-- MDB -->
    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
    ></script>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>