{% extends "layout.html" %} {% load static %} 
{% block title %}Projects{%endblock %}
{% block content %}

<section class="py-5 text-center container">
  <div class="row py-lg-5 text-light">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Projects i've worked on</h1>
      <p class="lead text-muted">
        I'm a computer science undergraduate at
        <span
          ><a
            class="resetLinks"
            href="https://www.westminster.ac.uk/computer-science-and-engineering-courses/2023-24/september/full-time/computer-science-bsc-honours"
            >Westminster University</a
          ></span
        >
        right now. As a result, the majority of the projects showcased here were
        done specifically for class.
      </p>

      <div class="input-group">
        <div class="form-outline">
          <input
            id="search-input"
            type="search"
            id="form1"
            class="form-control"
          />
          <label class="form-label text-white" for="form1">Search</label>
        </div>
        <button id="search-button" type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</section>

<div class="py-5 projectGrid">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("body").css({
      "background-image": "url('{% static 'images/projectsBG.svg' %}')",
    });
  });
</script>
{% endblock %}
