.eyes {
    position: relative;
    width: 100px;
    height: 100px;
    display: block;
    background-color: #fff;
    margin: 0 20px;
    border-radius: 50%;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2), inset 0 0 15px #4b0092,
        inset 0 0 25px #6807c2;

    &::before {
        content: "";
        top: 50%;
        left: 35px;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #000;
        position: absolute;
        border: 10px solid #6a24ab;
        box-sizing: border-box;
    }
}

.eyes-container {
    overflow-y: hidden;
}

.profileImg {
    background: rgb(5, 5, 5);
    position: relative;

    .shinigami{
        position: absolute;
        top: -11em;
        left: 22em;
        width: 50%;
        height: auto;
    }
}