{% extends "misc/layout.html" %} {% load static %} 
{% block title %}Contact{%endblock %}
{% block content %}

<section class="intro-section d-flex justify-content-center">
  <div class="text-white monofont align-self-center text-center">
    <div class="row">
      <h1 class="text-uppercase fw-bold">Avishka Kavinda</h1>
    </div>
    <div class="row">
      <h5>Undergraduate in Computer Science<span class="clickable">_</span></h5>
    </div>
    <div class="row pt-2 jobs">
      <blockquote class="normal">UI Designer | Digital Artist | Developer | Game Dev | Streamer</blockquote>
      <blockquote class="alternate hide">Doctor | Lawyer | Teacher | Plumber | Astronaut</blockquote>
    </div>

    <div class="row">
				<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="acekavi" data-color="#333333" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#ffffff" data-font-color="#ffffff" data-coffee-color="rgb(12,94,164)" ></script>
    </div>
  </div>
</section>

<section class="contact-section container ">

  <div class="row col-10 monofont my-5 text-white">
    <h1 class="">Send me an E-mail</h1>
  </div>

  <div class="row col-10 col-md-5 d-flex align-content-center justify-content-center">

  <form method="post" action="." class="align-self-center">
    {% csrf_token %}

    <div class="form-outline form-white mb-5">
      <input type="text" name="name" id="nameInput" class="form-control" required>
      <label class="form-label" for="nameInput">Full Name</label>
    </div>

    <div class="form-outline form-white mb-5">
      <input type="text" name="subject" id="subjectInput" class="form-control" required>
      <label class="form-label" for="subjectInput">Subject</label>
    </div>

    <div class="form-outline form-white mb-5">
      <input type="email" name="email" id="emailInput" class="form-control" required>
      <label class="form-label" for="emailInput">Email Address</label>
    </div>

    <div class="form-outline form-white mb-5">
      <input type="url" name="linkedin" id="linkedinInput" class="form-control" required>
      <label class="form-label" for="linkedinInput">Linkedin</label>
    </div>

    <div class="form-outline form-white mb-5">
      <textarea name="message" class="form-control" id="messageInput" rows="4" required></textarea>
      <label class="form-label" for="messageInput">Message</label>
    </div>

    <div class="form-outline form-white mb-5">
      <button type="submit" class="btn btn-info">Contact Me</button>
    </div>
  </form>
  {% include 'misc/messages.html' %}
</div>

</section>

<div class="background">
  <div class="backgroundImage alteredBG"></div>
</div>

<script>
  $(document).ready(function () {
    $(".backgroundImage").css({
      "background-image": "url('{% static 'images/aboutBG.jpg' %}')",
    });

    $("nav").addClass("dark");
  });
</script>
{% endblock %}
