{% extends "misc/layout.html" %} {% load static %} 
{% block title %}Contact{%endblock %}
{% block content %}

<section class="intro-section d-flex justify-content-center">
  <div class="text-white monofont align-self-center text-center">
    <div class="row">
      <h1 class="text-uppercase fw-bold">Avishka Kavinda</h1>
    </div>
    <div class="row">
      <h5>Undergraduate in Computer Science<span class="clickable">_</span></h5>
    </div>
    <div class="row pt-2 jobs">
      <blockquote class="normal">UI Designer | Digital Artist | Developer | Game Dev | Streamer</blockquote>
      <blockquote class="alternate hide">Doctor | Lawyer | Teacher | Plumber | Astronaut</blockquote>
    </div>

    <div class="row">
				<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="acekavi" data-color="#333333" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#ffffff" data-font-color="#ffffff" data-coffee-color="rgb(12,94,164)" ></script>
    </div>
  </div>
</section>

<section class="contact-section container">

  <div class="row col-10 monofont mb-2 ms-5 text-white">
    <h1>Hire me?</h1>
  </div>

  <div class="row col-10 col-md-5 d-flex align-content-center justify-content-center ms-5">

    <form method="post" action="." class="align-self-center">
      {% csrf_token %}

      <div class="form-floating mb-3" title="John Doe">
        <input type="text" name="name" class="form-control" id="nameInput" placeholder="John Doe" required>
        <label for="nameInput">Full Name</label>
      </div>

      <div class="form-floating mb-3" title="We want to work with you!">
        <input type="text" name="subject" class="form-control" id="subjectInput" placeholder="We want to work with you!" required>
        <label for="subjectInput">Email Subject</label>
      </div>

      <div class="form-floating mb-3" title="name@example.com">
        <input type="email" name="email" class="form-control" id="emailInput" placeholder="name@example.com" required>
        <label for="emailInput">Email Address</label>
      </div>

      <div class="form-floating mb-3" title="linkedin.com/in/johndoe">
        <input type="url" name="linkedin" class="form-control" id="linkedinInput" placeholder="linkedin.com/in/johndoe" required>
        <label for="linkedinInput">Linkedin</label>
      </div>

      <div class="form-floating" title="Leave a message here">
        <textarea name="message" class="form-control" id="messageInput" style="height: 100px" placeholder="Leave a message here" required></textarea>
        <label for="messageInput">Comments</label>
      </div>

      <div class="form-outline form-white my-5 d-flex">
        <button type="submit" class="btn btn-dark rounded-0">Send</button>

        <h6 class="mx-2 text-white align-self-center">OR</h6>

        <div class="btn-group" role="group" aria-label="Default button group">
          <a class="btn text-white btn-lg btn-floating" style="background-color: #ac2bac;" href="https://www.instagram.com/acekavi" role="button" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
  
          <a class="btn text-white btn-lg btn-floating" style="background-color: #3b5998;" href="https://www.facebook.com/acekavi" role="button" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
  
          <a class="btn text-white btn-lg btn-floating" style="background-color: #333333;" href="https://www.github.com/acekavi" role="button" target="_blank">
            <i class="fab fa-github"></i>
          </a>
  
          <a class="btn text-white btn-lg btn-floating" style="background-color: #0082ca;" href="https://linkedin.com/in/acekavi" role="button" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          
          <a class="btn text-white btn-lg btn-floating" style="background-color: #1266F1;" href="https://www.behance.net/acekavi" role="button" target="_blank">
            <i class="fab fa-behance"></i>
          </a>
        </div>
        
      </div>
    </form>

    {% include 'misc/messages.html' %}
  </div>
</section>

<div class="background d-none d-md-block">
  <div class="backgroundImage alteredBG"></div>
</div>

<script>
  $(document).ready(function () {
    $(".backgroundImage").css({
      "background-image": "url('{% static 'images/aboutBG.jpg' %}')",
    });

    $(".customNavlinks").css({
      "filter": "invert(1)",
      "mix-blend-mode": "difference",
    })
    
  });
</script>
{% endblock %}
