{% extends "misc/layout.html" %} {% load static %} 
{% block title %}Designs{%endblock %}
{% block content %}
<div class="container px-0 py-5" id="custom-cards">
  <section class=" text-center container">
		<div class="row py-lg-2 text-light">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h3 class="fw-light quote text-uppercase monofont">Learn the rules like a pro, so you can break them like an artist</h3>
				<!-- <p class="lead text-muted">
					I'm a passionate digital artist. Although I'm constantly learning, I have worked as a freelancer for a while now.
          Drawing with just the mouse takes a little bit of time since I don't yet have any drawing equipment.
        </br>If you could lend me a hand to afford a graphics tablet, that would be awesome <span>:)</span>
				</p> -->
			</div>
		</div>
	</section>


  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

  {% for design in designs %}
    <section class="col">
      <div class="single-card position-relative">
        <a href="{{ design.behance }}" target="_blank">
          <div class="image-bg rounded-0 imageBG"
            style="background-image: url('{{ design.bannerImg}}');"
            ></div>
        </a>

        
        <div class="designBody px-3 py-3 position-absolute start-0 bottom-0 w-100">
          <div class="usedTools flex-row gap-3 g-3 float-start" data-apps="{{ design.toolsUsed }}" >
            <!-- <span>Tools used : </span> -->
          </div>
          <h6 class="artType fw-bold float-end">{{ design.artworkType }}</h6>
          <h4>{{ design.name|title }}</h4>

        </div>
      </div>
    </section>
  {% endfor %}

  </div>
</div>


<div class="background">
  <div class="backgroundImage"></div>
</div>

<script>
  $(document).ready(function () {
    $(".backgroundImage").css({
      "background-image": "url('{% static 'images/designBG.svg' %}')",
    });

      
  const usedAppArr = $(".usedTools");
  usedAppArr.each((index,element) =>{
    $(element).data("apps").split(",").forEach(thisItem => {
      if(thisItem === "AI"){
        $(element).append( `<img src="{% static 'icons/AI.svg' %}" class="AppIcons"></img>` );
      }else if(thisItem === "PS"){
        $(element).append( `<img src="{% static 'icons/PS.svg' %}" class="AppIcons"></img>` );
      }else if(thisItem === "xD"){
        $(element).append( `<img src="{% static 'icons/xD.svg' %}" class="AppIcons"></img>` );
      }else if(thisItem === "Fi"){
        $(element).append( `<img src="{% static 'icons/Fi.svg' %}" class="AppIcons"></img>` );
      }else if(thisItem === "Un"){
        $(element).append( `<img src="{% static 'icons/Un.svg' %}" class="AppIcons"></img>` );
      }
    });
  });
  });
</script>

{% endblock %}
