{% extends "misc/layout.html" %} {% load static %} {% block title %}Home{% endblock%}
{% block content %}

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse g-5 py-5 justify-content-center align-items-center">
    <div class="col-10 col-sm-12 col-lg-6 position-relative">
      <img
        src="{% static 'images/Masked.svg' %}"
        class="d-block mx-lg-auto mx-sm-auto figure-img"
        alt="Oni Masked by acekavi"
        height="450"
        loading="lazy"
      />
    </div>

    <div class="col-lg-6 text-uppercase homeText text-center">
      
      <h3 class="quote text-light monofont">This world has way too many colors in it,
      I prefer it in</br>black & white</h3>
      
      <div class="btn-group homeBtns" role="group" aria-label="Home buttons">
        <a href="{% static 'Resume.pdf'%}" download="Avishka.pdf" class="">
          Resume
        </a>
        
        <a href="/projects" class="">
          Projects
        </a>

        <a href="/designs" class="">
          Designs
        </a>

        <a href="/about" class="">
          Hire me
        </a>
      </div>
      
    </div>
    
  </div>
</div>

<div class="background">
  <div class="backgroundImage"></div>
</div>

<script>
  $(document).ready(function () {
    $(".backgroundImage").css({
      "background-image": "url('{% static 'images/homeBG.svg' %}')",
    });
  });
</script>
{% endblock %}
