{% extends "misc/layout.html" %} {% load static %} 
{% block title %}Projects{%endblock %}
{% block content %}

<div class="container pt-5">
  <section class=" text-center container">
    <div class="row py-lg-2 text-light">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h3 class="fw-light quote text-uppercase monofont">If you're good at something, never do it for free</h3>
      </div>
    </div>
  </section>

  <div class="py-5 projectGrid">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      </div>
    </div>
  </div>
</div>

<div class="background">
  <div class="backgroundImage"></div>
</div>

<script>
  $(document).ready(function () {
    $(".backgroundImage").css({
      "background-image": "url('{% static 'images/projectsBG.svg' %}')",
    });
  });
</script>
{% endblock %}
