.intro-section{
    height: 90vh;
}

.contact-section{
    height: 90vh;
}

.background{

    .alteredBG{
        clip-path: polygon(90% 0, 100% 20%, 100% 100%, 90% 100%, 50% 0);
        background-position: center right !important;
    }
}

.bmc-btn{
    background-color: #333 !important;
    border-radius: 0% !important;

    span{
        margin: 0;
    }
}

.btn{

    .fab{
        width: 1rem !important;
        height: 1rem !important;
    }
}