@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400;1,400;1,500;1,600&family=Source+Sans+Pro:wght@200;300;400;600&family=Square+Peg&family=Zilla+Slab:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
body {
  background: #121212;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

a {
  color: rgba(255, 255, 255, 0.47) !important;
  text-decoration: none;
}
a:hover {
  color: rgb(255, 255, 255) !important;
}

.navLinks {
  list-style-type: none !important;
  display: none;
  transition: 0.3 ease-in-out;
}

.customNavlinks {
  position: relative;
  color: rgba(255, 255, 255, 0.47) !important;
  text-decoration: none !important;
  text-transform: uppercase;
  font-family: "Zilla Slab", serif;
  transition: opacity 0.3s ease-in;
}
.customNavlinks:hover {
  color: rgb(255, 255, 255) !important;
}
.customNavlinks::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.customNavlinks:hover::before {
  transform: scaleX(1);
}

.active {
  color: rgb(255, 255, 255) !important;
}

.navLogo {
  position: relative;
}
.navLogo::before {
  content: "ACEKAVI";
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  font-style: italic;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  letter-spacing: 3px;
}

.IconContainer {
  cursor: pointer;
  width: 25px;
}
.IconContainer:hover .hambars {
  width: 25px;
  background-color: rgb(255, 255, 255);
}

.hambars {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.47);
  margin: 6px 0;
  transition: 0.4s;
}

.hambars:nth-child(1) {
  width: 8px;
}

.hambars:nth-child(2) {
  width: 20px;
}

.hambars:nth-child(3) {
  width: 15px;
}

.change .hambars:nth-child(1) {
  width: 25px;
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .hambars:nth-child(2) {
  width: 25px;
  opacity: 0;
}

.change .hambars:nth-child(3) {
  width: 25px;
  transform: rotate(45deg) translate(-5px, -6px);
}

.socialLinks {
  color: rgba(255, 255, 255, 0.47);
  transition: 0.4s ease-out;
}
.socialLinks:hover {
  color: rgb(255, 255, 255);
}

.homeText {
  font-family: "Zilla Slab", serif !important;
  color: rgb(255, 255, 255);
}
.homeText p {
  position: relative;
  opacity: 1;
  font-family: "Square Peg", cursive;
  display: inline-block;
  border-bottom: 2px #f00034 solid;
  text-transform: none;
  padding: 0 0.5rem;
}
.homeText p::before {
  font-family: Arial;
  content: "“";
  color: #f00034;
}
.homeText p::after {
  font-family: Arial;
  color: #f00034;
  content: "”";
}
.homeText h2 {
  opacity: 0.86;
  font-weight: 800;
}
.homeText h3 {
  opacity: 0.67;
  font-weight: 200;
}
.homeText h4 {
  opacity: 0.67;
  font-style: italic;
  font-weight: 400;
}
.homeText h4::after {
  content: ">";
  color: #f00034;
  opacity: 1;
  font-weight: 600;
}
.homeText h4::before {
  content: "</";
  color: #f00034;
  opacity: 1;
  font-weight: 600;
}
.homeText blockquote {
  opacity: 0.5;
  font-weight: 200;
}

.homeBtns a {
  border-right: 2px rgb(255, 255, 255) solid;
}
.homeBtns a button {
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.47);
  border-radius: 0;
  font-size: 1rem;
  padding: 0.3rem 0.7rem;
}
.homeBtns a button:hover {
  color: rgb(255, 255, 255);
}
.homeBtns a:last-child {
  border: none;
}

.projectGrid {
  display: inline;
}

.imageBG {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: auto;
  filter: grayscale(1);
  transition: all 0.2s ease-in;
}
.imageBG:hover {
  filter: grayscale(0);
}

.designBody {
  background-image: linear-gradient(rgba(233, 233, 233, 0) 0%, #000000 75%);
}
.designBody h4 {
  font-family: "Zilla Slab", serif !important;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 600;
}
.designBody h6 {
  font-family: "Source Sans Pro", sans-serif !important;
  color: rgb(18, 18, 18);
  background-color: rgb(255, 255, 255);
  display: inline;
  padding: 2px 5px;
  text-transform: uppercase;
  font-size: smaller;
}
.designBody span {
  color: rgb(255, 255, 255);
}

.lead span {
  color: #ff78a5;
}

.AppIcons {
  width: 20px;
  margin: 0 0.2rem;
}/*# sourceMappingURL=main.css.map */