@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400;1,400;1,500;1,600&family=Source+Sans+Pro:wght@200;300;400;600&family=Square+Peg&family=Zilla+Slab:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


$bodyColor: rgb(18,18,18);
$emphasisBg: rgb(50, 50, 50);

$primaryColor: rgb(255, 255, 255);
$secondaryColor: rgba(255, 255, 255, 0.47);

$primaryAccent: rgb(12,94,164);
$importantColor: #f00034;
$accentFont: 'Zilla Slab', serif;
$primaryFont: 'Source Sans Pro', sans-serif;
$secondaryFont: 'Playfair Display', serif;

body {
  position: relative;
  background: #121212;
  overflow-x: hidden;
}

.background{
  position: fixed;
  left: 0;
  top: 0;
  z-index: -10000;

  .backgroundImage{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position:center center;
  }
}

a {
  color: $secondaryColor !important;
  text-decoration: none;

  &:hover {
    color: $primaryColor !important;
  }
}

.monofont{
  font-family: $accentFont !important;
  font-weight: 200;
}

.btn {
  background-repeat: no-repeat;
}

@import 'navbar';
@import 'home';
@import 'projects';
@import 'designs';
@import 'about';

